*
{
    box-sizing: border-box;
}

body 
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

:root 
{
    --menuWidth: 300px;
    --headerHeight: 75px;
}

.MainContainer 
{
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(270deg, #f51818, #27d23d, #1a7fe1, #e1971a);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName 
{
    0% 
    {
        background-position: 0% 50%
    }

    50% 
    {
        background-position: 100% 50%
    }

    100% 
    {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName 
{
    0% 
    {
        background-position: 0% 50%
    }

    50% 
    {
        background-position: 100% 50%
    }

    100% 
    {
        background-position: 0% 50%
    }
}

@keyframes AnimationName 
{
    0% 
    {
        background-position: 0% 50%
    }

    50% 
    {
        background-position: 100% 50%
    }

    100% 
    {
        background-position: 0% 50%
    }
}
