<style>
    body 
    {
        font-family: Arial;
        font-size: 17px;
        padding: 8px;
    }

    * 
    {
        box-sizing: border-box;
    }

    .row 
    {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    .col-25 
    {
        -ms-flex: 25%;
        flex: 25%;
    }

    .col-50 
    {
        -ms-flex: 50%;
        flex: 50%;
    }

    .col-75 
    {
        -ms-flex: 75%;
        flex: 75%;
    }

    .col-25, .col-50, .col-75 
    {
        padding: 0 16px;
    }

    .container 
    {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }

    input[type=text] 
    {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type=number] 
    {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    label 
    {
        margin-bottom: 10px;
        display: block;
    }

    .icon-container 
    {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
    }

    .btn 
    {
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
    }

    .btn:hover 
    {
        background-color: #45a049;
    }

    a 
    {
        color: #2196F3;
    }

    hr 
    {
        border: 1px solid lightgrey;
    }

    @media (max-width: 800px) 
    {
        .row 
        {
            flex-direction: column-reverse;
        }

        .col-25 
        {
            margin-bottom: 20px;
        }
    }
</style>

<div class="container">
    <h2>Add new product !!</h2>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
        Click to Add
    </button>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <body>
                        <div class="row">
                            <div class="col-75">
                                <div class="container" style="max-width: 1250px;">
                                    <form>
                                        <div class="row">
                                            <div class="col-50">
                                                <h3>Data</h3>
                                                <label for="fname"><i class="fa fa-tags"></i> Category</label>
                                                <input type="text" id="fname" name="firstname" ng-model="vm.Category" placeholder="Enter category...">
                                                <div class="row">
                                                    <div class="col-25">
                                                        <label for="state"><i class="fa fa-tag"></i> Product</label>
                                                        <input type="text" id="state" name="state" ng-model="vm.Nameproduct" placeholder="Product...">
                                                    </div>
                                                    <div class="col-25">
                                                        <label for="Turno"><i class="fa fa-money"></i> Price</label>
                                                        <input type="number" id="Turno" name="Turno" ng-model="vm.Price" placeholder="Price...">
                                                    </div>
                                                    <div class="col-25">
                                                        <label for="Turno"><i class="fa fa-map"></i> From</label>
                                                        <input type="text" id="Turno" name="Turno" ng-model="vm.From" placeholder="From...">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-50">
                                                        <label for="Gluten"><i class="fa fa-plus-square"></i> Gluten</label>
                                                        <div class="custom-control custom-checkbox mb-3">
                                                            <input type="checkbox" class="custom-control-input" id="Gluten" ng-model="vm.Gluten">
                                                            <label class="custom-control-label" for="Married"> Gluten free</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-50">
                                                        <label for="Lactosa"><i class="fa fa-plus-square-o"></i> Lactosa</label>
                                                        <div class="custom-control custom-checkbox mb-3">
                                                            <input type="checkbox" class="custom-control-input" id="Lactosa" ng-model="vm.Lactosa">
                                                            <label class="custom-control-label" for="Lactosa">Lactosa free</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" ng-click="vm.AddNewProduct()" data-dismiss="modal">Add</button>
                                        <button class="btn btn-primary" ng-click="vm.SaveProduct()" data-dismiss="modal">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </body>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div ui-grid="vm.GridOptions"></div>
</div>